<input type="text" [formControl]="control" />


<ng-container
  *ngIf="
  control.dirty &&
   control.touched && 
   control.errors
 "
>
  <div *ngIf="control.errors?.['required']">*zorunlu alan</div>
  <div *ngIf="control.errors?.['minlength']">

    Girdiğiniz isim
    {{control.errors?.['minlength']?.['actualLength']}}
    karakter içermektedir ,minumum
    {{control.errors?.['minlength']?.['requiredLength']}}
    karakter olmalı

  </div>
</ng-container>


<!-- NOT porting
formControlName="name" -- [formControl]="control"
cardForm.get("name") --control 
-->