<div class="field">
  <label class="label">{{ label }}</label>
  <div class="control">
    <input
      class="input"
      type="text"
      [formControl]="control"
      placeholder="Text input"
      [ngClass]="{
        'is-danger':showErrors()
      }"
    />
  </div>
</div>

<ng-container *ngIf="control.dirty && control.touched && control.errors">

  <div class="help is-danger" *ngIf="control.errors?.['required']">*zorunlu alan</div>
  <div class="help is-danger" *ngIf="control.errors?.['minlength']">
    Girdiğiniz isim
    {{control.errors?.['minlength']?.['actualLength']}}
    karakter içermektedir ,minumum
    {{control.errors?.['minlength']?.['requiredLength']}}
    karakter olmalı
  </div>
  <div class="help is-danger" *ngIf="control.errors?.['maxlength']">
    Girdiğiniz Numara
    {{control.errors?.['minlength']?.['actualLength']}}
    karakter içermektedir ,maxsimum
    {{control.errors?.['minlength']?.['requiredLength']}}
    karakter olmalı
  </div>
</ng-container>

<!-- NOT porting
formControlName="name" -- [formControl]="control"
cardForm.get("name") --control 
-->
