<form [formGroup]="cardForm">

    <app-input label="Ad-Soyad" [control]="convertToFormControl(cardForm.get('name'))"></app-input>
    <app-input label="Kart Numarası" [control]="convertToFormControl(cardForm.get('cardNumber'))"></app-input>
    <app-input label="Son Kullanma Tarihi" [control]="convertToFormControl(cardForm.get('expiration'))"></app-input>
    <app-input label="Güvenlik Kodu" [control]="convertToFormControl(cardForm.get('securityCode'))"></app-input>
    
</form>

<div>Form içeriği:{{ cardForm.value | json }}</div>
<div>Form valid :{{ cardForm.valid ? "evet" : "hayır" }}</div>
<div>Form hataları :{{ cardForm.get("name")?.errors | json }}</div>
