<form [formGroup]="cardForm">
  <input type="text" formControlName="name" />

  <ng-container
    *ngIf="
    cardForm.get('name')?.dirty &&
     cardForm.get('name')?.touched && 
     cardForm.get('name')?.errors
   "
  >
    <div *ngIf="cardForm.get('name')?.errors?.['required']">*zorunlu alan</div>
    <div *ngIf="cardForm.get('name')?.errors?.['minlength']">
      Girdiğiniz isim
      {{cardForm.get('name')?.errors?.['minlength']?.['actualLength']}}
      karakter içermektedir ,minumum
      {{cardForm.get('name')?.errors?.['minlength']?.['requiredLength']}}
      karakter olmalı
    </div>
  </ng-container>
</form>

<div>Form içeriği:{{ cardForm.value | json }}</div>
<div>Form valid :{{ cardForm.valid ? "evet" : "hayır" }}</div>
<div>Form hataları :{{ cardForm.get("name")?.errors | json }}</div>
